@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

.App {
  font-family: 'Fruktur', cursive;
  width: 100vw;
  height: 100vh;
  display: flex;
  felx-direction: column;
  /* align-items: center; */
  background-color: yellow;
}

.heading {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  margin: 30px 0;
  color: white;
  z-index: 1;
  text-align: center;
}